# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
/build
/dist

# System Files
.DS_Store
Thumbs.db

# React/JS Specific
/.env
/.env.local
/.env.development
/.env.test
/.env.production

# Logs
logs/
*.log

# Dependency directories
/pnpm-debug.log

# IDE files
.vscode/
.idea/

# Test files
/coverage

# Misc
*.tgz
